<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:config>

        <aop:aspect>
            <aop:declare-parents
                    types-matching="com.jz.spring.framework.Wheel"
                    implement-interface="com.jz.spring.framework.Flyable"
                    default-impl="com.jz.spring.framework.Plane"/>
        </aop:aspect>

    </aop:config>
    <bean id="wheel" class="com.jz.spring.framework.Wheel"/>
<!--    <bean id="transportAspect" class="com.jz.spring.framework.TransportAspect"/>-->
</beans>